# IDE
/.idea

# Dist
/dist

/build

# dependencies
node_modules

# MacOS
.DS_Store

# misc
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
branch_structure.json

.env*
!.env.example
